
.movie-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 0 8px;
}
.movie-info h1{
    margin: 14px 0;
    color: #fff;
    text-align: center;
    
}
.movie-info img{
    border-radius: 8px;
    width: 500px;
    max-width: 100%;
    max-height: 650px;
    object-fit: cover;
    box-shadow: 0px 5px 30px rgba(209, 65, 192, 0.326);

}
.movie-info h3{
    margin-top: 14px;
    color: #fff;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.movie-info span{
    margin: 8px 0;
    color: #fff;
}
.movie-info p{
    margin: 7px 0;
    color: #b0abab;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.movie-info > .run-time{
    font-size: 14px;
}
.buttons-area button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .5s;
    background-color: rgb(126, 13, 113);
    color: #fff;
}

.buttons-area button:hover{
    transition: .5s;
    background-color: rgba(126, 13, 113, 0.342);
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.14);
    color: rgb(204, 201, 201);
}
.buttons-area a{
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
.buttons-area a:hover{
    color: rgb(204, 201, 201);
}